<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbd.mapper.UmsUserMapper">
    <resultMap id="topicVO" type="com.dbd.model.vo.RateVO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="sperk_id" property="perkId"/>
        <result column="appearance" property="appearance"/>
        <result column="popularity" property="popularity"/>
        <result column="imgUrl" property="imgUrl"/>
        <result column="title" property="title"/>
    </resultMap>

    <resultMap id="topicUO" type="com.dbd.model.vo.RateVO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="kperk_id" property="perkId"/>
        <result column="appearance" property="appearance"/>
        <result column="popularity" property="popularity"/>
        <result column="imgUrl" property="imgUrl"/>
        <result column="title" property="title"/>
    </resultMap>

    <select id="getRateByUser" resultMap="topicVO">
        select s.*,u.appearance,u.popularity
        from survivorperks s
                left join user_sperk_rate u on u.sperk_Id = s.id
        where u.user_id = #{id}
    </select>

    <select id="getKillerRateByUser" resultMap="topicUO">
        select k.*,u.appearance,u.popularity
        from killerperks k
                left  join user_kperk_rate u on u.kperk_Id = k.id
        where u.user_id = #{id}
    </select>
</mapper>